.user-jumbo {
	font-weight: bold;
}

.user-jumbo hr {
	background-color: #151929;
	box-shadow: 0px 1px #313857;
	border: none;
	height: 1px;
	margin: 20px 0px;
}

.user-jumbo .username {
	font-size: 200%;
	color: #DFE3F7;
}

.user-jumbo .admin {
	padding-left: 10px;
	color: #D84A4A;
}

.user-jumbo .beta {
	padding-left: 10px;
	color: #FD0;
}

.user-jumbo .user-description {
	font-size: 120%;
}

.user-jumbo .user-info {
	display: block;
	margin-top: 15px;
}

.user-stats span {
	display: block;
	margin-bottom: 10px;
}

.user-stats span:last-child, .user-stats span:only-child {
	margin-bottom: 0px;
}

#posts {
	max-height: 520px;
	overflow-y:auto;
}