#comment-submit .buttons {
  margin-top: 20px;
  text-align: right;
}

.comment {
  margin-bottom: 20px;
}

.comment:last-child {
  margin-bottom: 0px;
}

.comment-info span {
  margin-right: 10px;
}

.comment .comment-body {
  padding: 10px 0px;
}

.comment .muted {
  font-style: italic;
}

.comment .points.positive {
  color: #4AD88F;
}

.comment .points.negative {
  color: #D84A4A;
}

.comment.reply {
  margin-left: 15px;
}

.comment .reply-input {
  margin-left: 15px;
  margin-top: 15px;
}

.comment .reply-input .input-submit {
  display: inline-block;
  margin-right: 15px;
}

.comment .reply-input .input-submit, .reply .button {
  vertical-align: bottom;
}

a.at.user {
  color: #354AA1;
}