#comment-submit .buttons {
  margin-top: 20px;
  text-align: right;
}

.box-title {
  line-height: 28px;
}

.box-title > select {
  float: right;
  color: white;
  background-color: inherit;
}

.box-title:after {
	clear: both;
	content: "";
	display: block;
}

.comment {
  margin-bottom: 20px;
  word-break: break-all;
}

.comment:last-child {
  margin-bottom: 0px;
}

.comment-info span {
  margin-right: 10px;
}

.comment .comment-body {
  padding: 10px 0px;
  word-break: normal;
  word-wrap: break-word;
}

.comment .comment-actions span {
  display: inline-block;
  margin-right: 10px;
  color: #818496;
  text-shadow: none;
  cursor:pointer;
}

.comment .comment-actions span:hover {
  color: #525463;
}

.comment .comment-actions span.red-hover:hover {
  color: #D84A4A;
}

.comment .muted {
  font-style: italic;
}

.comment .points.positive {
  color: #4AD88F;
}

.comment .points.negative {
  color: #D84A4A;
}

.comment a.user {
  font-weight: bold;
}

.comment.reply {
  margin-left: 20px;
  margin-top: 20px;
}

.comment .reply-input {
  margin-left: 20px;
  margin-top: 15px;
}

.comment .reply-input .input-submit {
  display: inline-block;
  margin-right: 10px;
}

.comment .reply-input .input-submit, .reply .button {
  vertical-align: bottom;
}

a.at.user {
  color: #354AA1;
  font-weight: normal;
}

.comment .vote {
  width: 13px;
  height: 9px;
  background-position: top;
}

.comment .vote:hover {
  background-position: bottom;
}

.comment .vote.upvote {
  background-image: url("/images/icons/upvote.png");
}

.comment .vote.downvote {
  background-image: url("/images/icons/downvote.png");
}

.comments-warning {
  display: block;
  padding-bottom: 20px;
  color: red;
  font-style: italic;
  text-align: center;
}

.show {
  text-align: center;
  font-weight: bold;
}

.show > span {
  cursor: pointer;
}

span[data-r-showmore] {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
}
