
# DO NOT REMOVE THIS LINE AND THE LINES BELOW PWPROTECTID:uBeXujyDas
AuthType Basic
AuthName "Restricted Access"
AuthUserFile /home/u683362690/public_html//.htpasswd
# Require user relteam
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE uBeXujyDas:PWPROTECTID

RewriteEngine On

RewriteCond %{HTTP_HOST} ^relatablez.com
RewriteRule (.*) http://www.relatablez.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
RewriteRule ^user/(.*)$ user/index.html?username=$1 [QSA]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
RewriteRule ^blog/article/(.*)$ blog/article/index.html?id=$1 [QSA]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]
RewriteRule ^post/(.*)$ post/index.html?id=$1 [QSA]

AddHandler application/x-httpd-php .html

ErrorDocument 404 /notfound/

php_flag  display_errors        on
php_value error_reporting       2039
