html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body
{
	min-width:100%;
	min-height:100%;
	height:100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #6881E3;
}

body {
  background-color: #F0F1F7;
  color: #3F414D;
  font-family: 'Open Sans', sans-serif;
}

.block {
  display: block;
  width: 100%;
}

/*
 * Gridism
 * A simple, responsive, and handy CSS grid by @cobyism
 * https://github.com/cobyism/gridism
 */

/* Preserve some sanity */
.grid,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set up some rules to govern the grid */
.grid {
  display: block;
  clear: both;
}
.grid .unit {
  float: left;
  width: 100%;
  padding: 10px;
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.grid .unit:first-child { padding-left: 20px; }
.grid .unit:last-child { padding-right: 20px; }

/* Nested grids already have padding though, so let’s nuke it */
.unit .unit:first-child { padding-left: 0; }
.unit .unit:last-child { padding-right: 0; }
.unit .grid:first-child > .unit { padding-top: 0; }
.unit .grid:last-child > .unit { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .unit,
.unit.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .grid,
.grid.wrap {
  max-width: 978px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a grid unit 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.grid .whole,          .grid .w-1-1 { width: 100%; }
.grid .half,           .grid .w-1-2 { width: 50%; }
.grid .one-third,      .grid .w-1-3 { width: 33.3332%; }
.grid .two-thirds,     .grid .w-2-3 { width: 66.6665%; }
.grid .one-quarter,
.grid .one-fourth,     .grid .w-1-4 { width: 25%; }
.grid .three-quarters,
.grid .three-fourths,  .grid .w-3-4 { width: 75%; }
.grid .one-fifth,      .grid .w-1-5 { width: 20%; }
.grid .two-fifths,     .grid .w-2-5 { width: 40%; }
.grid .three-fifths,   .grid .w-3-5 { width: 60%; }
.grid .four-fifths,    .grid .w-4-5 { width: 80%; }
.grid .golden-small,   .grid .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
.grid .golden-large,   .grid .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .grid */
.grid {
  *zoom: 1;
}
.grid:before, .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* A property for a better rendering of images in units: in
   this way bigger pictures are just resized if the unit
   becomes smaller */
.unit img {
  max-width: 100%;
}

/* Hide elements using this class by default */
.only-on-mobiles {
  display: none !important;
}

/* Responsive Stuff */
@media screen and (max-width: 1080px) {
  /* Stack anything that isn’t full-width on smaller screens
     and doesn't provide the no-stacking-on-mobiles class */
  .grid:not(.no-stacking-on-mobiles) > .unit {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
  .only-on-mobiles {
    display: block !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid,
  .grid.wider {
    max-width: 1180px;
    margin: 0 auto;
  }
}

.navigation-bar {
	background: #4a66d8;
	box-shadow: 0px 1px #2F45A1;
	position: fixed;
	z-index:1000;
	width: 100%;
}

.navigation-spacer {
	height: 70px;
}

ul.navigation-items {
	font-size: 0px; /* for spacing issue */
}

ul.navigation-items {
  *zoom: 1;
}
ul.navigation-items:before, ul.navigation-items:after {
  display: table;
  content: "";
  line-height: 0;
}
ul.navigation-items:after {
  clear: both;
}

ul.navigation-items > li {
	display: inline;
	font-size: 16px;
	position: relative;
}

ul.navigation-items > li a {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	padding: 0px 20px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px -1px #2A409C;

	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

ul.navigation-items > li a:hover {
	background: #3049B0;
}

ul.navigation-items > li a img {
	height: 30px;
	vertical-align: middle;
}

ul.nav.navbar-nav.navbar-right a.dropdown-toggle {
	padding: 10px;
}

ul.nav.navbar-nav  div.icon {
	width:26px;
	display:inline-block;
	vertical-align:middle;
	background-position:top;
}

ul.nav.navbar-nav div.notifications-icon {
	height:26px;
	margin: 2px;
	background-image:url('/images/icons/notification_icon.png');
}

ul.nav.navbar-nav div.profile-icon {
	height:30px;
	margin: 0px 2px;
	background-image:url('/images/icons/profile_icon.png');
}

.share-wrapper > div {
	display: inline;
}

.share-wrapper .share-icon {
	min-width: 30px;
	min-height: 30px;
	display: inline-block;
}

.share-wrapper .share-icon.fb {
	background-image: url('/images/icons/fb_ico.png');
}

.share-wrapper .share-icon.gp {
	background-image: url('/images/icons/gp_ico.png');
}

.share-wrapper .share-icon.tw {
	background-image: url('/images/icons/tw_ico.png');
}

.indicator {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #45CC87;
	margin-right: 10px;
}

.navigation-bar .dropdown {
	background-color: #fff;
	position: absolute;
	width: 100%;
	margin-top: 1px;
	left: 0;
}

.navigation-bar .dropdown a {
	width: 100%;
	text-align: center;
	background-color: #405AC7;
	height: auto !important;
	line-height: normal !important;
	padding: 10px !important;
	border-bottom: solid 1px #2F45A1;
	box-shadow: inset 0px 1px #4D67D1;
}

.navigation-bar .dropdown li:last-child a {
	border-bottom: none;
}

.marker {
	background-color: transparent;
	width: 12px;
	height: 12px;
	display: inline-block;
}

.marker.xmark {
	background-image: url('/images/icons/x_mark.png');
}

.marker.nomark {
	background-image: none;
}

.marker.checkmark {
	background-image: url('/images/icons/check_mark.png');
}

.popup {
	background-color: #fff;
	position: fixed;
	width: 400px;
	top: 18%;
	left: 50%;
	margin-left: -221px;
	z-index: 100; /* safety net */
	padding: 20px;
	border: solid 1px #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: none;
}

.popup h1.popup-title {
  text-align: left;
}

.popup h6 {
  text-align: left;
  margin-top: 5px;
}

.popup h1.popup-title.blue {
  color: #4a66d8;
}

.popup span.popup-small {
  display: block;
  text-align: center;
  font-size: 85%;
  margin-bottom: 20px;
}

.popup button {
  float: right;
}

.popup input[type="submit"] {
	width: 100px;
}

#loginpopup form.vertical input[type="text"], 
#loginpopup form.vertical input[type="password"] {
  box-sizing: border-box;
  width: 100%;
}

#registerpopup form.vertical input[type="text"], 
#registerpopup form.vertical input[type="password"] {
  margin-bottom: 10px;
}

#user-guide-pop + .marker,
#pass-guide-pop + .marker {
  margin-left: 6px;
}

.popup-shade {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.info-popup {
  position: fixed;
  width: 200px;
  margin-left: 75px;
  margin-top: -30px;
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
}

.error-popup {
  padding-bottom: 10px;
  color: red;
  font-style: italic;
  font-size: 13px;
}

a.forgot-password {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.input-info-icon {
  background-image: url('/images/icons/question.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-left: -30px;
  margin-bottom: -5px;
}

span.padded {
  display: block;
  padding-bottom: 20px;
}

.page-jumbo {
  margin-top: -10px; /* puts it at top */
  padding: 80px 100px;
  background: #1D2238;
  color: #DFE3F7;
  text-shadow: 0px 1px #161A2B;
  margin-bottom: 20px;
}

.page-jumbo h1.page-title {
  margin: 0;
}

.page-jumbo h2.page-description {
  font-size: 120%;
  margin: 0;
  margin-top: 20px;
  color: #8F95B3;
}

.comment.tail {
  display: inline-block;
  position: absolute;
  background-image: url('/images/icons/comment.png');
  width: 23px;
  height: 15px;
  margin-top: 20px;
  margin-left: -15px;
}

.comment.tail:hover {
  background-image: url('/images/icons/comment-hover.png');
}

.boxes {
  width:100%;
}

.box {
  box-sizing: border-box;
  border: solid 1px #DDDFEB;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  width:100%;
}
.box.transparent {
  border: none;
  background: transparent;
}

.box-title {
	display: block;
	padding: 10px;
	background-color: #4a66d8;
	color: #fff;
	text-shadow: 0px -1px #2A409C;
	font-weight: bold;

	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;

	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.box-content {
	padding: 20px;
}

.box-content.thin {
	padding: 10px;
}

.box-content.thinner {
	padding: 5px;
}

.box-content.no-gutters {
	padding: 0px;
}

.boxes .box {
	margin-bottom: 20px;
}

.boxes .box.sidebar-extra {
	margin-bottom: 3px;
}

#post-collapse .buttons {
  font-size: inherit;
}

#post-collapse .buttons * {
  margin-left: 10px;
}

.buttons {
  font-size: 0px;
}

.buttons.padded {
  padding-top: 20px;
}

.buttons .button {
  margin-right: 10px;
}

.buttons.more-space .button {
  margin-right: 20px;
}

.buttons .login-extras {
  float: left;
  font-size: 14px;
  width: 0px;
  white-space: nowrap;
}

.buttons .login-extras a {
  padding-top: 5px;
}

.page-buttons {
	display:inline;
}

.button {
	display: inline-block;
	background: #CCCED9;
	color: #fff;
	padding: 8px 10px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 1px rgba(0, 0, 0, .1);
	border: none;
	cursor:pointer;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

.button.small {
	font-size: 14px;
}

.button.smaller {
  font-size: 13px;
  padding: 6px 8px;
}

.button.large {
  font-size: 18px;
  padding: 12px 14px;
}

.button.comment {
  min-width: 18px;
  text-align: center;
}

.button.green {
	background-color: #4AD88F;
}

.button.blue {
	background-color: #4a66d8;
}

.button.red {
	background-color: #D84A4A;
}

.button.yellow {
	background-color: #D1CE24;
}

.button:hover {
	background-color: #B8BAC5;
}

.button.green:hover {
	background-color: #36C47B;
}

.button.blue:hover {
	background-color: #3652C4;
}

.button.red:hover {
	background-color: #C43636;
}

.button.yellow:hover {
	background-color: #BFBD21;
}

.button.green-hover:hover {
	background-color: #4AD88F;
}

.button.blue-hover:hover {
	background-color: #4a66d8;
}

.button.red-hover:hover {
	background-color: #D84A4A;
}

.button.yellow-hover:hover {
	background-color: #DFE620;
}

.button.transparent {
  background-color: transparent;
  color: #818496;
  text-shadow: none;
}

.footer {
  background-color: #F0F1F7;
  border-top: 1px solid #808080;
  width: 100%;
  bottom: 0px;
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #808080;
}

.ad-container {
  width:85%;
  text-align:center;
  margin:auto;
}

.footer span, .footer a {
  padding-left: 10px;
}

.footer a {
  color: #808080;
}

.content-wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 97px;
}

.right {
  float: right;
}

.left {
  float: left;
  padding-left: 40px;
}

a.button {
	text-decoration: none;
}

a.user {
	text-decoration: none;
	color: #4a66d8;
}

a.user.admin {
	color: #D84A4A;
}

form.vertical {
  text-align: left;
}

form.vertical .buttons{
  text-align: center;
}

form.vertical input[type="text"],
form.vertical input[type="password"],
form.vertical button, form.vertical textarea,
form.vertical select {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 30px 10px 10px;
}

form.vertical label {
  font-weight: bold;
  margin-bottom: 10px;
}

form textarea {
  padding: 20px;
}

form input[type="text"], form input[type="password"], form textarea {
  border: solid 1px #DDDFEB;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

form input:focus, form textarea:focus {
  border: solid 1px #CACCD9;
}

form input:last-child, form button:last-child, form textarea:last-child {
  margin-bottom: 0px;
}

select {
  background: transparent;
  outline: none;
  border: solid 1px transparent;
  color: #777A8F;
  font-size: 100%;
  padding: 3px 5px;
  
  min-width: 135px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

select:hover, select:active {
  background-color: #E9EAF2;
  border-color: #DDDFEB;
}

.input-submit {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #F5F6FC;
  border: solid 1px #DDDFEB;
  color: #7B7E8F;
  text-shadow: 0px 1px #fff;
  outline: none;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 100%;
  font-family: inherit;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input-submit:focus {
  background-color: #fff;
  color: inherit;
}

.input-submit.small {
  padding: 10px;
  width: inherit;
}

.input-submit::-webkit-input-placeholder {
  color: #7B7E8F;
}
.input-submit:-moz-placeholder {
  color: #7B7E8F;
}
.input-submit::-moz-placeholder {
  color: #7B7E8F;
}
.input-submit:-ms-input-placeholder {
  color: #7B7E8F;
}

textarea.input-submit {
  resize: none;
}

#notif-drop {
	width: 300px;
	left: -235px;
}

#prof-drop {
	left: -20px;
}

.unread-notifications {
	background-position: center !important;
}

.notifications-dropdown {
	border: solid 1px #DDDFEB;
}

.notifications-dropdown a {
	font-weight: normal !important;
	font-size: 90% !important;
	color: #27356E !important;
	text-shadow: none !important;
	padding: 10px !important;
	text-align: left !important;
	border-bottom-color: #DDDFEB !important;
	box-shadow: none !important;
	box-sizing: border-box;
}

.notifications-dropdown a:hover {
	background: #F5F6FC !important;
}

.notifications-dropdown a:last-child {
	border-bottom: none;
}

#login-errors {
  text-align: center;
  color: red;
  font-style: italic;
}
