.box.sponsored {
  border-color: #C2CEFF;
}

.post-actions {
  padding-top: 20px;
}

.post-actions {
  *zoom: 1;
}
.post-actions:before, .post-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.post-actions:after {
  clear: both;
}

.post-actions .buttons {
  float: left;
}

.post-actions .post-info {
  float: right;
  text-align: right;
  height: 100%;
}

.bottom-navigation {
  padding-top: 20px;
  text-align: center;
}

span.datediff {
  color: #ccc;
  padding-left: 10px;
}

.submission-info {
  float: right;
  line-height: 19px;
  font-size: 14px;
  font-weight: bold;
}

.post-actions .buttons .button.small {
  padding: 0px 2px;
  background-color: #FFFFFF;
  color: #BFBFBF;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
}


.post-actions .button.small.green {
	color: #4AD88F;
}

.post-actions .button.small.blue {
	color: #4a66d8;
}

.post-actions .button.small.red {
	color: #D84A4A;
}

.post-actions .button.small.yellow {
	color: #D1CE24;
}

.post-actions .button.small:hover {
	color: #B8BAC5;
}

.post-actions .button.small.green:hover {
	color: #36C47B;
}

.post-actions .button.small.blue:hover {
	color: #3652C4;
}

.post-actions .button.small.red:hover {
	color: #C43636;
}

.post-actions .button.small.yellow:hover {
	color: #BFBD21;
}

.post-actions .button.small.green-hover:hover {
	color: #4AD88F;
}

.post-actions .button.small.blue-hover:hover {
	color: #4a66d8;
}

.post-actions .button.small.red-hover:hover {
	color: #D84A4A;
}

.post-actions .button.small.yellow-hover:hover {
	color: #DFE620;
}
