.filters {
  padding: 0px 20px;
  margin-bottom: 20px;
}
.filters {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.filters .filter {
	display: inline-block;
	margin-right: 15px;
}

.filter label {
  font-weight: bold;
}

div.sidebar-extra {
	background-color: #879fff;
}

div.sidebar-extra > a {
	display: block;
	padding: 10px;
	color: white;
}

div.sidebar-extra > span {
	display: block;
	padding: 10px;
	color: white;
}

div.stupid-side-header {
	background-color: transparent;
	border: none;
	text-align: center;
	padding: 10px;
	
}

div.social img {
	padding: 0px 1px 10px 10px;
}

#posts {
	width:100%;
}

.post-guidelines {
  overflow: hidden;
}

.post-guidelines .warning {
  font-style:italic;
  font-size: 13px;
  display: block;
  text-align: center;
}

.post-guidelines h4 {
  margin: 10px 0px;
}

.post-guidelines ul {
  margin-bottom: 20px;
}

.post-guidelines ul:last-child {
  margin-bottom: 0px;
}

.post-guidelines li {
  margin: 10px 0px;
}
