#success_msg {
  text-align: center;
  color: #36C47B;
  font-weight: bold;
}

.filters {
  padding: 0px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.filters .filter {
	display: inline-block;
	margin-right: 15px;
}

div.sidebar-extra {
	background-color: #879fff;
}

div.sidebar-extra > a {
	display: block;
	padding: 10px;
	color: white;
}

div.sidebar-extra > span {
	display: block;
	padding: 10px;
	color: white;
}

div.stupid-side-header {
	background-color: transparent;
	border: none;
	text-align: center;
	padding: 10px;
	
}

div.social img {
	padding: 0px 1px 10px 10px;
}

#posts {
	width:100%;
	margin-left: 0px;
}

.page-jumbo {
  padding: 20px 0px;
}

.page-jumbo .grid.wrap {
  padding: 0px 20px;
}

.page-jumbo .wrap h2 {
  color: #4AD88F;
}

.page-jumbo .wrap .unit > a, 
.page-jumbo .wrap .unit > span {
  display: block;
  font-size: 20px;
  margin-top: 7px;
  color: #DFE3F7;
}

.page-jumbo .wrap .unit > a {
  text-decoration: underline;
}

.page-jumbo .wrap .unit > span {
  float: left;
}

.page-jumbo .wrap .social {
  display: inline-block;
  margin: 0px;
  min-height: 0px;
}

.page-jumbo .wrap p {
  max-width: 450px;
  font-size: 17px;
  line-height: 19px;
  color: #DFE3F7;
}

.grid .unit.one-third {
  margin-left: -110px;
}

@media screen and (max-width: 1080px) {
  .grid .unit.one-third {
    margin-left: 0px;
  }
}

.post-guidelines {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -10px;
  right: -10px;
}

.post-guidelines .guidelines-container {
  background-color: white;
  padding: 60px 20px 20px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.post-guidelines .warning {
  font-style:italic;
  font-size: 13px;
  display: block;
  text-align: center;
}

.post-guidelines h4 {
  margin: 10px 0px;
}

.post-guidelines ul {
  margin-bottom: 20px;
}

.post-guidelines ul:last-child {
  margin-bottom: 0px;
}

.post-guidelines li {
  margin: 10px 0px;
}
