.moderate-jumbo h1 {
  text-align: center;
  margin: 0;
  margin: 40px 0px;
}

.moderate-buttons {
	margin-top: 40px;
	text-align: center;
}

.moderation-info {
	max-width: 600px;
	padding: 20px 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.moderation-info ul {
	margin: 0;
}

.moderation-info ul li {
	margin-bottom: 10px;
	list-style-type: none;
	line-height: 1.5em;
	padding-bottom: 0.2em;

}

.well {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	max-width: 735px;
	margin: auto;
}

.buttons .button
{
	margin: 0px 10px;
	min-width:100px;
}

.row {
	margin: 0px;
}
