.moderate-jumbo {
	margin-top: -10px; /* puts it at top */
	padding: 80px 100px;
	background: #1D2238;
	color: #DFE3F7;
	text-shadow: 0px 1px #161A2B;
}

.moderate-jumbo h1 {
	text-align: center;
	margin: 0;
	margin-bottom: 40px;
}

.moderate-post {
	max-width: 560px;
	margin: 0 auto;
	padding: 20px;
	background: #6372B0;
	text-shadow: 0px 1px #3D497A;
	font-size: 120%;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 5px 8px -5px #141829, 0px 1px #677BC7;
	-moz-box-shadow: inset 0px 5px 8px -5px #141829, 0px 1px #677BC7;
	box-shadow: inset 0px 5px 8px -5px #141829, 0px 1px #677BC7;
}

.moderate-buttons {
	margin-top: 40px;
	text-align: center;
}

.moderation-info {
	max-width: 600px;
	padding: 20px;
	padding-top: 40px;
	margin: 0 auto;
}