#settings-wrapper
{
	position:relative;
	top:70px;
	margin:auto;
	width:1100px;
}
#left-panel
{
	float:left;
}
#general-settings
{
	position:relative;
	margin:auto;
	width:700px;
}
#general-settings-table
{
	width:100%;
}
#location-form select
{
	width:100%;
}
#description-form textarea
{
	width:100%;
	background-color:#F7F7F7;
	border:none;
	resize:none;
	font:15px arial;
}
#verification
{
	position:relative;
	margin:auto;
	width:400px;
	display:none;
}
a.selected
{
	color:#2654a8;
}
th.settings-header
{
	text-align:left;
	width:180px;
}
td.edit-button-wrapper
{
	text-align:right;
	vertical-align:top;
	width:50px;
}
td.show-hide-selector
{
	text-align:right;
}
td
{
	height:20px;
}
input
{
	width:100%;
	height:25px;
	border-radius:4px;
	border:1px solid #bfbfbf;
}