.settings-nav a {
  display: block;
  line-height: 6px;
  margin-bottom: 10px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.settings-nav a:hover {
  background: #F7F8FC;
}
.settings-nav a:last-child {
  margin-bottom: 0px;
}

#delete-account-popup {
  width: 200px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -146px;
  margin-top: -85px;
  padding: 30px 45px 40px 45px;
}

form.vertical .buttons {
  text-align: left;
}

#save-button {
  padding: 10px 10px 10px 10px;
}
