RewriteEngine On

RewriteCond %{HTTP_HOST} ^relatablez.com
RewriteRule (.*) http://www.relatablez.com/$1 [R=301,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^user/(.*)$ user.php?username=$1 [QSA]

ErrorDocument 404 /notfound.php

php_flag  display_errors        on
php_value error_reporting       2039